<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="PROD" value="0"/>
    <add key="Titulo" value="ELUM 3.5"/>
    <add key="JS.Version" value="3.0.51"/>
    <!--<add key="FormatoFechasSQL" value="dd/MM/yyyy"/>-->
    <add key="FormatoFechasSQL" value="yyyy-MM-dd"/>
    <add key="ApiError" value="~/log/ApiError_XX.log"/>
    <add key="BasicLogError" value="~/log/BasicError_XX.log"/>
    <add key="PathLogError" value="~/log/Error_XX.log"/>
    <add key="FELogError" value="~/log/FEError_XX.log"/>
    <add key="UsuariosPermitidos" value="0"/>
    <!--<add key="Email.SMTP" value="c1331318.ferozo.com"/>
    <add key="Email.UsaSSL" value="0"/>
    <add key="Email.Port" value="25"/>
    <add key="Email.From" value="soporte@axan.com.ar"/>
    <add key="Email.Password" value="Elum2020"/>
    <add key="Email.Notifications" value="soporte@axan.com.ar"/>
    <add key="Email.ReplyTo" value="soporte@axan.com.ar"/>
    <add key="Email.CC" value="soporte@axan.com.ar"/>
    <add key="Email.BCC" value=""/>
    <add key="Email.Ayuda" value="soporte@axan.com.ar"/>
    <add key="Email.Compras" value="soporte@axan.com.ar"/>
    <add key="Email.Administracion" value="soporte@axan.com.ar"/>-->
    <add key="Email.SMTP" value="smtp.gmail.com"/>
    <add key="Email.UsaSSL" value="1"/>
    <add key="Email.Port" value="587"/>
    <add key="Email.From" value="axan.soporte@gmail.com"/>
    <add key="Email.Password" value="wasdkuwditwpdeef"/>
    <add key="Email.PasswordOld" value="11kilo98"/>
    <add key="Email.Notifications" value="axan.soporte@gmail.com"/>
    <add key="Email.ReplyTo" value="axan.soporte@gmail.com"/>
    <add key="Email.CC" value="axan.soporte@gmail.com"/>
    <add key="Email.BCC" value=""/>
    <add key="Email.Ayuda" value="axan.soporte@gmail.com"/>
    <add key="Email.Compras" value="axan.soporte@gmail.com"/>
    <add key="Email.Administracion" value="axan.soporte@gmail.com"/>
    <add key="PathBaseWeb" value="C:\AXAN Desarrollo Sistemas\VS2019\Code\ACHE.Web\"/>
    <add key="MontoRetencionGananciaBienes" value="224000"/>
    <add key="MontoRetencionGananciaLocacionesYServicios" value="67170"/>
	<add key="CantidadRegistrosMaximaParaMostrarTodosLosRegistros" value="15000"/>
    <!--Datos para factura electrónica.-->
    <!--Test-->
    <add key="FE.QA.wsaa" value="https://wsaahomo.afip.gov.ar/ws/services/LoginCms"/>
    <add key="FE.QA.wsfev1" value="https://wswhomo.afip.gov.ar/wsfev1/service.asmx"/>
    <add key="FE.QA.ws_sr_padron_a5" value="https://awshomo.afip.gov.ar/sr-padron/webservices/personaServiceA5"/>
    <add key="FE.QA.ws_ve_consumer" value="https://infraestructura.afip.gob.ar/ve-ws/services/veconsumer"/>
    <add key="FE.QA.CUIL" value="23185938999"/>
    <add key="FE.QA.CertificadoAFIP" value="E:\Programacion\Certificados\23185938999T.pfx"/>
    <!--Prod-->
    <add key="FE.PROD.wsaa" value="https://wsaa.afip.gov.ar/ws/services/LoginCms"/>
    <add key="FE.PROD.wsfev1" value="https://servicios1.afip.gov.ar/wsfev1/service.asmx"/>
    <add key="FE.PROD.ws_sr_padron_a5" value="https://aws.afip.gov.ar/sr-padron/webservices/personaServiceA5"/>
    <add key="FE.PROD.ws_ve_consumer" value="https://infraestructura.afip.gob.ar/ve-ws/services/veconsumer"/>
    <add key="FE.PROD.CertificadoAFIP" value="E:\Programacion\Certificados\"/>
    <add key="FE.LoguearWS" value="false"/>
    <add key="FE.PatLoghXML" value="~\log\LogAFIP.xml"/>
    <add key="FE.Template" value="~\fe\TemplateFactura_"/>
    <add key="FE.TemplateRecibo" value="~\fe\TemplateRecibo.pdf"/>
    <add key="FE.TemplateLiquidoProductoA" value="~\fe\TemplateLiquidoProductoA.pdf"/>
    <add key="FE.TemplateLiquidoProductoB" value="~\fe\TemplateLiquidoProductoB.pdf"/>
    <add key="FE.Pwd" value=""/>
    <add key="FE.TemplateRemito" value="~\fe\TemplateRemito.pdf"/>
    <add key="FE.UrlQR" value="https://www.afip.gob.ar/fe/qr/?p="/>
    <!--<add key="FE.Modo" value="PROD"/>-->
    <!--Datos MercadoPago-->
    <!--https://www.mercadopago.com/mla/herramientas/notificaciones,https://www.mercadopago.com/mla/herramientas/aplicaciones -->
    <add key="MP.ClientID" value="123456789"/>
    <add key="MP.ClientSecret" value="0123456789"/>
    <add key="MP.urlSite" value="https://app.axanweb.com"/>
    <add key="MP.success" value="/modulos/seguridad/ComprasMercadoPago.aspx?tipo=1"/>
    <add key="MP.pending" value="/modulos/seguridad/ComprasMercadoPago.aspx?tipo=2"/>
    <add key="MP.failure" value="/modulos/seguridad/ComprasMercadoPago.aspx?tipo=5"/>
    <add key="MP.LogError" value="~/log/MPError_XX.log"/>
    <add key="Usu.idkaplarWeb" value="1110"/>
    <add key="Usu.idPuntoDeVenta" value="3117"/>
    <!--Fin MercadoPago-->
  </appSettings>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="VEConsumerServiceSoapBinding">
          <security authenticationMode="SecureConversation" requireSecurityContextCancellation="true"/>
          <textMessageEncoding messageVersion="Soap12WSAddressing10" writeEncoding="utf-8"/>
          <sslStreamSecurity requireClientCertificate="false"/>
          <tcpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://infraestructura.afip.gob.ar/ve-ws/services/veconsumer" binding="customBinding" bindingConfiguration="VEConsumerServiceSoapBinding" contract="VEConsumerService.VEConsumer" name="VEConsumerPort"/>
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="ACHEEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NICOLAS\SQLEXPRESS2012;initial catalog=Axan;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ACHEString" connectionString="data source=NICOLAS\SQLEXPRESS2012;Initial Catalog=Axan;integrated security=True;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="2880"/>
    <customErrors mode="Off"/>
    <!--Probar en prod con mode On y  RemoteOnly-->
    <!--<customErrors mode="On" defaultRedirect="/errorGenerico.aspx" redirectMode="ResponseRewrite">
      <error statusCode="400" redirect="/errorGenerico.aspx"/>
      <error statusCode="401" redirect="/errorGenerico.aspx"/>
      <error statusCode="403" redirect="/errorGenerico.aspx"/>
      <error statusCode="404" redirect="/errorGenerico.aspx"/>
      <error statusCode="500" redirect="/errorGenerico.aspx"/>     
    </customErrors>-->
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <!--<add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http.Formatting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Http.WebHost, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
        <add assembly="DocumentFormat.OpenXml, Version=2.5.5631.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" requestValidationMode="2.0" maxQueryStringLength="50000" maxRequestLength="50000"/>
    <!-- required for JavaScript access -->
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <pages enableEventValidation="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="Static">
      <controls>
        <add tagPrefix="UC" tagName="Header" src="~/controls/header.ascx"/>
        <add tagPrefix="UC" tagName="SideBar" src="~/controls/sideBar.ascx"/>
        <add tagPrefix="UC" tagName="NuevaPersona" src="~/controls/nuevaPersona.ascx"/>
        <add tagPrefix="UC" tagName="NuevoCheque" src="~/controls/nuevoCheque.ascx"/>
        <add tagPrefix="UC" tagName="NuevoConcepto" src="~/controls/nuevoConcepto.ascx"/>
        <add tagPrefix="UC" tagName="NuevoDomicilio" src="~/controls/nuevoDomicilio.ascx"/>
        <add tagPrefix="UC" tagName="NuevoTransporte" src="~/controls/nuevoTransporte.ascx"/>
        <add tagPrefix="UC" tagName="NuevoTransportePersona" src="~/controls/nuevoTransportePersona.ascx"/>
      </controls>
    </pages>
    <globalization uiCulture="es-AR" culture="es-AR"/>
    <!--<authorization>
      <deny users="?"/>
    </authorization>-->
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.net>
    <!--<mailSettings>
      <smtp from="no-reply@axanweb.com">
        <network host="mail.axanweb.com" port="25" password="123456" userName="demo@axanweb.com"/>
      </smtp>
    </mailSettings>-->
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.webServer>
    <!--<staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="50000">
        </requestLimits>
      </requestFiltering>
    </security>-->
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <!--<rewrite>
      <rules>
        <rule name="ELUM Http 80 to Https 443" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
        </rule>
      </rules>
    </rewrite>-->
    <!--<httpCompression directory="%SystemDrive%inetpubtempIIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%system32inetsrvgzip.dll" />
      <dynamicTypes>
        <add mimeType="text/" enabled="true" />
        <add mimeType="message/" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="/" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/" enabled="true" />
        <add mimeType="message/" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="/" enabled="false" />
      </staticTypes>
    </httpCompression>-->
    <!--<httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>-->
    <!--<rewrite>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000" />
        </rule>
        <rule name="Remove Server header">
          <match serverVariable="RESPONSE_Server" pattern=".+" />
          <action type="Rewrite" value="axanweb Server." />
        </rule>
      </outboundRules>
    </rewrite>-->
  </system.webServer>
</configuration>