<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FE.Template" value="\fe\TemplateFactura_"/>
    <add key="FE.TemplateRecibo" value="\fe\TemplateRecibo.pdf"/>
    <add key="FE.TemplateRemito" value="\fe\TemplateRemito.pdf"/>
    <add key="PathBaseWeb" value="C:\ACHE\Contabilum\Site\Code\ACHE.Web\"/>
    <add key="BasicLogError" value="C:\ACHE\Contabilum\Site\Code\ACHE.Web\log\BasicError_XX.log"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
