<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
	  <add name="ACHE.Model.Properties.Settings.AxanConnectionString" connectionString="Data Source=NICOLAS\SQLEXPRESS2012;Initial Catalog=Axan;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" /><add name="ACHEEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NICOLAS\SQLEXPRESS2012;initial catalog=Axan;integrated security=True;multipleactiveresultsets=True;trustservercertificate=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>