<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <appSettings>
		<add key="NombreServidorDB" value="YRI1048\SQLEXPRESS2012"/>      
		<!--Si tengo que hacer backup de mas de una base de un mismo servidor, se agrega en la key NombreDB separada por comas Ej: "Base1,Base2,Base3"-->
		<add key="NombreDB" value="Axan"/>
		<add key="RutaCarpetaBK" value="e:/temp/"/>
		<add key="RutaCarpetaBKHistorico" value="e:/Temp2/"/>
		<add key="CantidadArchivosPermitidosBackUp" value="6"/>
		<add key="PassZip" value="Elum2020"/>
	    <add key="Email.UsaSSL" value="1"/>
	    <add key="Email.From" value="axan.soporte@gmail.com"/>
	    <add key="Email.Password" value="wasdkuwditwpdeef"/>
	    <add key="Email.SMTP" value="smtp.gmail.com"/>
	    <add key="Email.Port" value="587"/>
	    <add key="Email.To" value="juannferro@gmail.com,waltercastellani@hotmail.com,serbal83@gmail.com"/>
    </appSettings>
</configuration>
