<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="PROD" value="1" />
    <add key="BasicLogError" value="~/log/BasicError_XX.log" />
    <add key="ApiError" value="~/log/ApiError_XX.log" />
    <add key="Email.SMTP" value="smtp.gmail.com" />
    <add key="Email.Port" value="587" />
    <add key="Email.From" value="axan.soporte@gmail.com" />
    <add key="Email.Password" value="11kilo98" />
    <add key="Email.Notifications" value="axan.soporte@gmail.com" />
    <add key="Email.ReplyTo" value="axan.soporte@gmail.com" />
    <add key="Email.CC" value="axan.soporte@gmail.com" />
    <add key="Email.BCC" value="" />
    <add key="Email.Ayuda" value="axan.soporte@gmail.com" />
    <add key="Email.Compras" value="axan.soporte@gmail.com" />
    <add key="Email.Administracion" value="axan.soporte@gmail.com" />
    <!--<add key="FE.Modo" value="PROD"/>-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- API TiendaNube -->
    <add key="TiendaNube.Url" value="https://api.tiendanube.com/v1/" />
    <add key="TiendaNube.LogError" value="~/log/BasicError_XX.log" />

    <!--Datos para factura electrónica.-->
    <!--Test-->
    <add key="FE.QA.wsaa" value="https://wsaahomo.afip.gov.ar/ws/services/LoginCms" />
    <add key="FE.QA.wsfev1" value="https://wswhomo.afip.gov.ar/wsfev1/service.asmx" />
    <add key="FE.QA.ws_sr_padron_a5" value="https://awshomo.afip.gov.ar/sr-padron/webservices/personaServiceA5" />
    <add key="FE.QA.ws_ve_consumer" value="https://infraestructura.afip.gob.ar/ve-ws/services/veconsumer" />
    <add key="FE.QA.CUIL" value="23185938999" />
    <add key="FE.QA.CertificadoAFIP" value="E:\Programacion\Certificados\23185938999T.pfx" />
    <!--Prod-->
    <add key="FE.PROD.wsaa" value="https://wsaa.afip.gov.ar/ws/services/LoginCms" />
    <add key="FE.PROD.wsfev1" value="https://servicios1.afip.gov.ar/wsfev1/service.asmx" />
    <add key="FE.PROD.ws_sr_padron_a5" value="https://aws.afip.gov.ar/sr-padron/webservices/personaServiceA5" />
    <add key="FE.PROD.ws_ve_consumer" value="https://infraestructura.afip.gob.ar/ve-ws/services/veconsumer" />
    <add key="FE.PROD.CUIL" value="23185938999" />
    <add key="FE.PROD.CertificadoAFIP" value="E:\Programacion\Certificados\" />
    <add key="FE.LoguearWS" value="false" />
    <add key="FE.PatLoghXML" value="~\log\LogAFIP.xml" />
    <add key="FE.Template" value="~\fe\TemplateFactura_" />
    <add key="FE.TemplateRecibo" value="~\fe\TemplateRecibo.pdf" />
    <add key="FE.Pwd" value="" />
    <add key="FE.TemplateRemito" value="~\fe\TemplateRemito.pdf" />
    
  </appSettings>
  <connectionStrings>
    <add name="ACHEEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=YRI1048\SQLEXPRESS2012;initial catalog=Axan;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ACHEString" connectionString="data source=YRI1048\SQLEXPRESS2012;initial catalog=Axan;integrated security=True;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <httpCompression directory="%SystemDrive%inetpubtempIIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%system32inetsrvgzip.dll" />
      <dynamicTypes>
        <add mimeType="text/" enabled="true" />
        <add mimeType="message/" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="/" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/" enabled="true" />
        <add mimeType="message/" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="/" enabled="false" />
      </staticTypes>
    </httpCompression>
  </system.webServer>
</configuration>