<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="ACHEEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=YRI1048\SQLEXPRESS2012;initial catalog=Axan;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ACHEString" connectionString="data source=YRI1048\SQLEXPRESS2012;initial catalog=Axan;integrated security=True;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="PROD" value="1"/>
    <add key="Titulo" value="ELUMAdmin"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--<add key="Email.SMTP" value="c1331318.ferozo.com"/>
    <add key="Email.UsaSSL" value="0"/>
    <add key="Email.Port" value="25"/>
    <add key="Email.From" value="soporte@axan.com.ar"/>
    <add key="Email.Password" value="Elum2020"/>
    <add key="Email.Notifications" value="soporte@axan.com.ar"/>
    <add key="Email.ReplyTo" value="soporte@axan.com.ar"/>
    <add key="Email.CC" value="soporte@axan.com.ar"/>
    <add key="Email.BCC" value=""/>
    <add key="Email.Ayuda" value="soporte@axan.com.ar"/>
    <add key="Email.Compras" value="soporte@axan.com.ar"/>
    <add key="Email.Administracion" value="soporte@axan.com.ar"/>-->
    <add key="Email.SMTP" value="smtp.gmail.com"/>
    <add key="Email.UsaSSL" value="1"/>
    <add key="Email.Port" value="587"/>
    <add key="Email.From" value="axan.soporte@gmail.com"/>
    <add key="Email.Password" value="wasdkuwditwpdeef"/>
    <add key="Email.PasswordOld" value="11kilo98"/>
    <add key="Email.Notifications" value="axan.soporte@gmail.com"/>
    <add key="Email.ReplyTo" value="axan.soporte@gmail.com"/>
    <add key="Email.CC" value="axan.soporte@gmail.com"/>
    <add key="Email.BCC" value=""/>
    <add key="Email.Ayuda" value="axan.soporte@gmail.com"/>
    <add key="Email.Compras" value="axan.soporte@gmail.com"/>
    <add key="Email.Administracion" value="axan.soporte@gmail.com"/>
    <add key="PathBaseWeb" value="localhost:33693"/>
    <add key="Admin.BasicLogError" value="~/log/BasicError_XX.log"/>
    <add key="Admin.usu" value="admin"/>
    <add key="Admin.pwd" value="Elum2020"/>
    <!--Datos para factura electrónica.-->
    <!--Test-->
    <add key="FE.QA.wsaa" value="https://wsaahomo.afip.gov.ar/ws/services/LoginCms"/>
    <add key="FE.QA.wsfev1" value="https://wswhomo.afip.gov.ar/wsfev1/service.asmx"/>
    <add key="FE.QA.ws_sr_padron_a5" value="https://awshomo.afip.gov.ar/sr-padron/webservices/personaServiceA5"/>
    <add key="FE.QA.ws_ve_consumer" value="https://infraestructura.afip.gob.ar/ve-ws/services/veconsumer"/>
    <add key="FE.QA.CUIL" value="23185938999"/>
    <add key="FE.QA.CertificadoAFIP" value="E:\Programacion\Certificados\23185938999T.pfx"/>
    <!--Prod-->
    <add key="FE.PROD.wsaa" value="https://wsaa.afip.gov.ar/ws/services/LoginCms"/>
    <add key="FE.PROD.wsfev1" value="https://servicios1.afip.gov.ar/wsfev1/service.asmx"/>
    <add key="FE.PROD.ws_sr_padron_a5" value="https://aws.afip.gov.ar/sr-padron/webservices/personaServiceA5"/>
    <add key="FE.PROD.ws_ve_consumer" value="https://infraestructura.afip.gob.ar/ve-ws/services/veconsumer"/>
    <add key="FE.PROD.CertificadoAFIP" value="E:\Programacion\Certificados\"/>
    <add key="FE.LoguearWS" value="false"/>
    <add key="FE.PatLoghXML" value="~\log\LogAFIP.xml"/>
    <add key="FE.Template" value="~\fe\TemplateFactura_"/>
    <add key="FE.TemplateRecibo" value="~\fe\TemplateRecibo.pdf"/>
    <add key="FE.Pwd" value=""/>
    <add key="FE.TemplateRemito" value="~\fe\TemplateRemito.pdf"/>
    <add key="Usu.idContabilium" value="1110"/>
    <add key="Usu.idPuntoDeVenta" value="3117"/>
    <add key="PathBaseWeb" value="C:\ACHE\Contabilum\Site\Code\ACHE.Web\"/>
    <add key="PathBaseCertificadosAfip" value="E:\Programacion\Certificados\"/>
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" defaultUrl="~/Home/Index" slidingExpiration="true" timeout="20"/>
    </authentication>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <!--system.net>
    <mailSettings>
      <smtp from="no-reply@kaplarweb.com">
        <network host="mail.contabilium.com" port="25" password="Julian684" userName="demo@kaplarweb.com"/>
      </smtp>
    </mailSettings>
  </system.net -->
  <system.net>
    <mailSettings>
      <smtp>
        <network host="localhost"/>
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="4.0.0.0-4.0.0.1" newVersion="4.0.0.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <httpCompression directory="%SystemDrive%inetpubtempIIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%system32inetsrvgzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/" enabled="true"/>
        <add mimeType="message/" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="/" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/" enabled="true"/>
        <add mimeType="message/" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="/" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <httpErrors>
      <clear/>
      <error statusCode="400" prefixLanguageFilePath="" path="/errorGenerico.aspx" responseMode="ExecuteURL"/>
      <error statusCode="502" prefixLanguageFilePath="" path="/errorGenerico.aspx" responseMode="ExecuteURL"/>
      <error statusCode="407" prefixLanguageFilePath="" path="/errorGenerico.aspx" responseMode="ExecuteURL"/>
      <error statusCode="414" prefixLanguageFilePath="" path="/errorGenerico.aspx" responseMode="ExecuteURL"/>
      <error statusCode="415" prefixLanguageFilePath="" path="/errorGenerico.aspx" responseMode="ExecuteURL"/>
      <error statusCode="501" prefixLanguageFilePath="" path="/errorGenerico.aspx" responseMode="ExecuteURL"/>
      <error statusCode="500" prefixLanguageFilePath="" path="/errorGenerico.aspx" responseMode="ExecuteURL"/>
      <error statusCode="401" prefixLanguageFilePath="" path="/errorGenerico.aspx" responseMode="ExecuteURL"/>
      <error statusCode="403" prefixLanguageFilePath="" path="/errorGenerico.aspx" responseMode="ExecuteURL"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/errorGenerico.aspx" responseMode="ExecuteURL"/>
      <error statusCode="405" prefixLanguageFilePath="" path="/errorGenerico.aspx" responseMode="ExecuteURL"/>
      <error statusCode="412" prefixLanguageFilePath="" path="/errorGenerico.aspx" responseMode="ExecuteURL"/>
      <error statusCode="406" prefixLanguageFilePath="" path="/errorGenerico.aspx" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
</configuration>